<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row ml20"> 
      <div class="col-md-6 offset-md-3">
        <mat-card>
        <div class="container text-center ">
          <img src="../../../assets/Logo.png" alt="Logo">
        </div>
        <h1 class="text-center">Register here !!</h1>

      
        <form (ngSubmit)="formSubmit()">
          <!---  Username field --->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User name</mat-label>
            <input
            required
            [(ngModel)]="user.username"
            name="username"
             matInput placeholder="Enter here"/>

            <mat-hint>Username must be unique</mat-hint>
          </mat-form-field>
          <!---  Username password --->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input type="password"
            required
            [(ngModel)]="user.password"
            name="password"
            
            matInput placeholder="Enter here" />
          </mat-form-field>
          <!---  Username firstname --->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First name</mat-label>
            <input
            required
            [(ngModel)]="user.firstName"
            name="firstname"
            
            
            matInput placeholder="Enter here" />
          </mat-form-field>
          <!---  Username lastname ---> 
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last name</mat-label>
            <input
            required
            [(ngModel)]="user.lastName"
            name="lastname"
            matInput placeholder="Enter here" />
          </mat-form-field>

          <!---  Username email --->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input 
            required
            [(ngModel)]="user.email"
            name="email"
            type="email" matInput placeholder="Enter here" />
          </mat-form-field>
          <!---  Username Phone Number --->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
            required
            [(ngModel)]="user.phone"
            name="phone"
            
            type="number" matInput placeholder="Enter here" />
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">
              Register
            </button>
            <button style="margin-left: 20px" mat-raised-button color="accent">
              Clear
            </button>
          </div>
        </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>