<div class="banner">
  <div class="content">
      
   
  </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
  <h1 class="text-center"><span class="highlight"> Today's Deals</span></h1>
  <div class="row mt-5">
      <!-- one  -->
      <div class="col-lg-4 mt-2">
          <div class="stepBox">
              <h1>1</h1>
              <p>Add your favourite item</p>
          </div>
      </div>
<!-- two -->
      <div class="col-lg-4 mt-2">
          <div class="stepBox">
              <h1>2</h1>
              <p>fill the details</p>
          </div>
      </div>
      <!-- three  -->
      <div class="col-lg-4 mt-2">
          <div class="stepBox">
              <h1>3</h1>
              <p>Checkout</p>
          </div>
      </div>
  </div>
</div>

<!-- 
<div class="card " style="width: 18rem;">
  <img class="card-img-top" src="https://m.media-amazon.com/images/I/619n6kxuGsL._SX679_.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)</h5>
    <p class="card-text">Mediatek Dimensity 900 – Powered by a 5G enabled</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card" style="width: 18rem; text-align: right;">
  <img class="card-img-top" src="https://m.media-amazon.com/images/I/619n6kxuGsL._SX679_.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)</h5>
    <p class="card-text">Mediatek Dimensity 900 – Powered by a 5G enabled</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://m.media-amazon.com/images/I/619n6kxuGsL._SX679_.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)</h5>
    <p class="card-text">Mediatek Dimensity 900  Powered by a 5G enabled</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div> -->
<!-- 
<div class="card-deck">
  <div class="card">
    <img src="https://m.media-amazon.com/images/I/619n6kxuGsL._SX679_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">price:25000</small></p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> -->
<app-footer></app-footer>